.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3% 0%;
  background-color: #2d3658;
}

.score-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #ffffff;
  min-height: 70vh;
  min-width: 40vw;
}

.question-section {
  padding: 1%;
  text-align: center;
}

.question-count {
  font-size: 1.5rem;
  padding: 0 2%;
  width: 80vw;
  color: #9fc3d3;
}

.question-text {
  font-size: 2.5rem;
  justify-content: center;
  color: #ffffff;
}

.answer-button {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #252d4a;
  color: #ffffff;
  border: 5px solid #234668;
  display: inline;
  width: 35%;
  margin: 3% 6%;
  padding: 2% 1%;
}

.answer-button:hover {
  background-color: #555e7d;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

.action-button {
  font-size: 1.5rem;
  cursor: pointer;
  color: #ffffff;
  width: 25vw;
  padding: 2% 1%;
  margin: 1% 1%;
  background-color: #252d4a;
  border: 5px solid #234668;
}

.green-border {
  border: 5px solid #098a30;
}

.answer-section {
  width: 70%;
}

.action-button:hover {
  background-color: #555e7d;
}

@media only screen and (max-device-width: 680px) {
  .app {
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    overflow: hidden;
    margin: 0%;
    padding: 0%;
  }
  .score-section {
    min-height: 100vh;
    min-width: 100vw;
    font-size: 2rem;
  }

  .answer-section {
    width: 100%;
    margin-left: 5%;
  }
  span {
    display: block;
    padding: 0% !important;
    font-size: large;
  }
  .action-button {
    width: 50%;
  }
  .question-text {
    font-size: 1.7rem;
  }
}
